In [3]:
import pandas as pd
import numpy as np
import lightgbm as lgb
import optuna.integration.lightgbm as olgb
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()

In [10]:
target = pd.Series(boston.target)
features = pd.DataFrame(boston.data, columns=boston.feature_names)

In [14]:
features.tail(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [13]:
target.tail(3)

503    23.9
504    22.0
505    11.9
dtype: float64

In [ ]:
class